name: build-greengage6

on: [push, pull_request]

jobs:
  build_image:
    runs-on: ${{ matrix.platform == 'linux/arm64' && 'ubuntu-22.04-arm' || 'ubuntu-22.04' }}
    strategy:
      matrix:
        greengage_version: ["6.29.2"]
        os_version: ["ubuntu22.04"]
        platform: ["linux/amd64", "linux/arm64"]
    steps:
    - uses: actions/checkout@v4

    - name: Get repo tag
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
      id: vars
      run: |
        echo "repo_tag=$(echo ${GITHUB_REF} | cut -d'/' -f3)" >> $GITHUB_OUTPUT
    
    - name: Set Architecture
      run: |
        if [ "${{ matrix.platform }}" = "linux/amd64" ]; then
          echo "ARCH=amd64" >> $GITHUB_ENV
        else
          echo "ARCH=arm64" >> $GITHUB_ENV
        fi

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKEHUB_USER }}
        password: ${{ secrets.DOCKEHUB_TOKEN }}

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GUTHUB_CR_PAT }}

    - name: Build greengage image (Test Build)
      run: |
        docker buildx build \
          -f docker/greengage/${OS_TAG}/6/Dockerfile \
          --platform ${{ matrix.platform }} \
          --build-arg GPDB_VERSION=${TAG} \
          --build-arg REPO_BUILD_TAG=${REPO_TAG} \
          -t greengage:${TAG}-${ARCH} .
      env: 
        TAG: ${{ matrix.greengage_version }}
        OS_TAG: ${{ matrix.os_version }}
        REPO_TAG: ${{ steps.vars.outputs.repo_tag }}

    - name: Build and push platform specific images
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
      run: |
        GHCR_BASE="ghcr.io/${GITHUB_USER}/greengage"
        DH_BASE="${DOCKERHUB_USER}/greengage"

        docker buildx build --push \
            -f docker/greengage/${OS_TAG}/6/Dockerfile \
            --platform ${{ matrix.platform }} \
            --build-arg GPDB_VERSION=${TAG} \
            --build-arg REPO_BUILD_TAG=${REPO_TAG} \
            -t ${GHCR_BASE}:${TAG}-${OS_TAG}-${ARCH} \
            -t ${GHCR_BASE}:${TAG}-${OS_TAG}-${REPO_TAG}-${ARCH} \
            -t ${DH_BASE}:${TAG}-${OS_TAG}-${ARCH} \
            -t ${DH_BASE}:${TAG}-${OS_TAG}-${REPO_TAG}-${ARCH} .
      env:
        GITHUB_USER: ${{ github.actor }}
        GITHUB_PKG: ${{ secrets.GUTHUB_CR_PAT }}
        DOCKERHUB_USER: ${{ secrets.DOCKEHUB_USER }}
        DOCKERHUB_PKG: ${{ secrets.DOCKEHUB_TOKEN }}
        TAG: ${{ matrix.greengage_version }}
        OS_TAG: ${{ matrix.os_version }}
        REPO_TAG: ${{ steps.vars.outputs.repo_tag }}

  merge_manifests:
    runs-on: ubuntu-22.04
    needs: build_image
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    strategy:
      matrix:
        greengage_version: ["6.29.2"]
        os_version: ["ubuntu22.04"]
    steps:
      - name: Get repo tag
        id: vars
        run: |
          echo "repo_tag=$(echo ${GITHUB_REF} | cut -d'/' -f3)" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKEHUB_USER }}
          password: ${{ secrets.DOCKEHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GUTHUB_CR_PAT }}

      - name: Create and push manifest lists
        run: |
          GHCR_BASE="ghcr.io/${GITHUB_USER}/greengage"
          DH_BASE="${DOCKERHUB_USER}/greengage"
          
          docker buildx imagetools create -t ${GHCR_BASE}:${TAG}-${OS_TAG} \
            ${GHCR_BASE}:${TAG}-${OS_TAG}-amd64 \
            ${GHCR_BASE}:${TAG}-${OS_TAG}-arm64
            
          docker buildx imagetools create -t ${DH_BASE}:${TAG}-${OS_TAG} \
            ${DH_BASE}:${TAG}-${OS_TAG}-amd64 \
            ${DH_BASE}:${TAG}-${OS_TAG}-arm64

          docker buildx imagetools create -t ${GHCR_BASE}:${TAG}-${OS_TAG}-${REPO_TAG} \
            ${GHCR_BASE}:${TAG}-${OS_TAG}-${REPO_TAG}-amd64 \
            ${GHCR_BASE}:${TAG}-${OS_TAG}-${REPO_TAG}-arm64
            
          docker buildx imagetools create -t ${DH_BASE}:${TAG}-${OS_TAG}-${REPO_TAG} \
            ${DH_BASE}:${TAG}-${OS_TAG}-${REPO_TAG}-amd64 \
            ${DH_BASE}:${TAG}-${OS_TAG}-${REPO_TAG}-arm64

        env:
          GITHUB_USER: ${{ github.actor }}
          DOCKERHUB_USER: ${{ secrets.DOCKEHUB_USER }}
          TAG: ${{ matrix.greengage_version }}
          OS_TAG: ${{ matrix.os_version }}
          REPO_TAG: ${{ steps.vars.outputs.repo_tag }}

      - name: Create and push default manifest lists (ubuntu22.04 only)
        if: matrix.os_version == 'ubuntu22.04'
        run: |
          GHCR_BASE="ghcr.io/${GITHUB_USER}/greengage"
          DH_BASE="${DOCKERHUB_USER}/greengage"

          # 1. Manifest for ${TAG}
          docker buildx imagetools create -t ${GHCR_BASE}:${TAG} \
            ${GHCR_BASE}:${TAG}-${OS_TAG}-amd64 \
            ${GHCR_BASE}:${TAG}-${OS_TAG}-arm64
            
          docker buildx imagetools create -t ${DH_BASE}:${TAG} \
            ${DH_BASE}:${TAG}-${OS_TAG}-amd64 \
            ${DH_BASE}:${TAG}-${OS_TAG}-arm64

          # 2. Manifest for ${TAG}-${REPO_TAG}
          docker buildx imagetools create -t ${GHCR_BASE}:${TAG}-${REPO_TAG} \
            ${GHCR_BASE}:${TAG}-${OS_TAG}-${REPO_TAG}-amd64 \
            ${GHCR_BASE}:${TAG}-${OS_TAG}-${REPO_TAG}-arm64
            
          docker buildx imagetools create -t ${DH_BASE}:${TAG}-${REPO_TAG} \
            ${DH_BASE}:${TAG}-${OS_TAG}-${REPO_TAG}-amd64 \
            ${DH_BASE}:${TAG}-${OS_TAG}-${REPO_TAG}-arm64
        env:
          GITHUB_USER: ${{ github.actor }}
          DOCKERHUB_USER: ${{ secrets.DOCKEHUB_USER }}
          TAG: ${{ matrix.greengage_version }}
          OS_TAG: ${{ matrix.os_version }}
          REPO_TAG: ${{ steps.vars.outputs.repo_tag }}
